[server]
root_url = {{ url_base_path }}/grafana
serve_from_sub_path = true

[smtp]
enabled = true
host = {{ grafana_smtp_host }}
user = {{ grafana_smtp_username }}
password = {{ grafana_smtp_password }}
from_address = {{ grafana_smtp_from_email }}
from_name = {{ grafana_smtp_from_name }}

[rendering]
server_url = http://grafana-renderer:8081/render
callback_url = http://grafana:3000

[auth.github]
enabled = false
allow_sign_up = true
scopes = user:email,read:org
auth_url = https://github.com/login/oauth/authorize
token_url = https://github.com/login/oauth/access_token
api_url = https://api.github.com/user
allowed_organizations = RE-Discord-Development CatButtes-Hosting
client_id = c55464b796865719acab
client_secret = 70fdffb2a909a9f4aa23138bf5b8228885efbc02

[auth.gitlab]
enabled = true
allow_sign_up = true
client_id = 502fc4090efe2d5c29b6c56f4e0fb974c17feb6786ed53420a7add1be06dae53
client_secret = 24a1ca250516c46299fd45bea20f9e3abaf13c366e2fe423544784909f1330e4
scopes = api
auth_url = https://itsgit.essex.ac.uk/oauth/authorize
token_url = https://itsgit.essex.ac.uk/oauth/token
api_url = https://itsgit.essex.ac.uk/api/v4
allowed_groups = spt, moodle, student-systems
